<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


	<bean id="employee" name="employee" 
		class="com.hexaware.main.beans.Employee" scope="prototype">
		<property name="project" ref="project"></property>
		
		<property name="address" ref="address"></property>
	</bean>
	<bean id="project" name="project" 
	class="com.hexaware.main.beans.Project" scope="prototype"></bean>
	<bean id="address" name="adddress" 
	class="com.hexaware.main.beans.Address" scope="prototype"></bean>
</beans>
